[Unit]
Description=muro sandbox daemon
After=network-online.target

[Service]
ExecStart=%h/.local/bin/murod
Restart=on-failure

[Install]
WantedBy=default.target
