[Unit]
Description=muro sandbox daemon
After=network-online.target

[Service]
ExecStart=/usr/local/bin/murod
Restart=on-failure

[Install]
WantedBy=multi-user.target
